.login-page {
    position: relative;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-image: url('../../../assets/logos/loginBackgound.png');
    z-index: 2000;
    top: 60px;
    height: 94vh;
}

.outer-form-box-LI {
    position: absolute;
    height: 44vh;
    width: 20vw;
    margin-top: 11%;
    margin-left: 41%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 6px rgb(244, 242, 242);
    background-color: rgba(141, 135, 135, 0.35);
}

.form-LI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form-logo-LI {
    width: 3vw;
    margin-bottom: 20px;
}

.header-LI {
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.login-error {
    color: rgb(188, 48, 48);
    margin-bottom: 1em;
}

.form-fields-LI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    border-radius: 5px;
}

.email-field-LI,
.password-field-LI {
    padding-top: 20px;
    margin-top: 8px;
    height: 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
}

.btns-bottom-of-form-LI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    width: 76%;
}

.sign-in-btn-LI,
.demo-sign-up-btn-LI {
    border: 1px solid black;
    width: 100%;
    height: 2.2rem;
    font-size: 1.2rem;
    border-radius: 3px;
    color: aliceblue;
    background-color: rgb(53, 144, 213);
    cursor: pointer;
}

.already-a-member-sign-up-LI {
    display: flex;
    justify-content: center;
    color: rgb(235, 30, 132);
    font-size: 1.2rem;
    margin-top: 18px;
}

@media (max-width: 600px) {
    .outer-form-box-LI {
        width: 80%;
        margin-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
        height: 70%;
    }

    .form-logo-LI {
        width: 20%;
    }

    .header-LI {
        font-size: 1.8rem;
    }

    .email-field-LI,
    .password-field-LI {
        height: 3rem;
        font-size: 1.2rem;
    }

    .sign-in-btn-LI,
    .demo-sign-up-btn-LI {
        height: 3rem;
        font-size: 1.2rem;
    }

    .already-a-member-sign-up-LI {
        font-size: 1.2rem;
    }
}