.photo-edit-form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.edit-photo-title {
    resize: none;
    padding: 1em;
    width: 70%;
    margin-top: 1em;
    height: 1.2em;
    font-size: 1.2em;
    overflow-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    border-color: rgb(207, 214, 217);
    /* background-color: aqua; */
}

.edit-photo-desscription {
    height: 15em;
    width: 80%;
    margin-top: 1em;
    font-size: 1em;
    overflow-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}

.submit-button-edit-photo-div{
    /* background-color: purple; */
    display: flex;
    justify-content: end;
    margin-bottom: 1em;
}

.cancel-button-edit-photo {
    color: white;
    background-color: gray;
    border: none;
    border-radius: .25em;
    padding-top: .25em;
    padding-bottom: .25em;
    margin-top: 1em;
    font-size: 1em;
    width: 5em;
    margin-right: .5em;
}

.submit-button-edit-photo {
    color: white;
    background-color: rgb(18, 143, 220);
    border: none;
    border-radius: .25em;
    padding-top: .25em;
    padding-bottom: .25em;
    margin-top: 1em;
    font-size: 1em;
    width: 5em;
}

.cancel-button-edit-photo:hover,
.submit-button-edit-photot:hover {
    box-shadow: 0px 0px 1px black;
    
}