
  .nav-bar {
    box-sizing: border-box;
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    /* margin-bottom: 40%; */
    z-index: 2000;
  }
  
  .logo-navbar {
    width: 8vw;
    /* background-color: aqua; */
  }  

  .search-bar-logged-out {
    width: 40vw;
    height: 3vh;
    background-color: lightgrey;
    border-radius: 5px;
  }
  
  .nav-links:hover {
    color: light-grey;
    text-decoration: underline;
  }
  
  .logged-in-nav-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:  center;
    width: 85vw;
    height: 5vh;
    /* border: purple solid 4px; */
  }
  
  .left-side-logged-in {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
    width: 10vw;
  }
  
  .explore-btn {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
  }
  .you-btn {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
  }
  
  .search-bar-logged-in {
    width: 30vw;
    height: 2.8vh;
    background-color: lightgray;
    border-radius: 5px;
    margin-left: 33vw;
  }
  .right-side-logged-in {
    display: flex;
    flex-direction: row;
    width: 9vw;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
  }
  .upload-icon {
    width: 3vw;
    height: 5vh;
    /* background-color: white; */
  }

  
  .logged-out-nav-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    height: 5vh;
    /* background-color: #c42d2d; */
  }
  
  .login-btn {
    text-decoration:none;
    color: white;
    font-weight: 100;
    font-size: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* padding-left: 5%; */
    /* background-color: aqua; */
    width: 4em;
    margin-left: 56vw;
    /* margin-left: 16vw; */
  }
  .signup-btn {
    text-decoration:none;
    color: rgb(3, 3, 3);
    font-weight: 100;
    font-size: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f8f8f8;
    border-radius: 3px;
    height: 70%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
  }
  
  .log-out-btn {
    background-color: aliceblue;
    /* color: #ece4e4; */
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
    width: 10%;
  }

  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    .nav-bar {
      flex-direction: column;
    }
  
    .nav-links {
      margin-top: 10px;
    }
  
    .user-actions {
      margin-top: 10px;
    }
  }
  