
.whole-splash-page {
  position: static;
  display: flex;
  justify-content: center;
}

.background-image {
  position: absolute;
  top: 60px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: -1;
}

.splash-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    margin-top: 35vh;
    color: white;
    z-index: 1;
    min-height: 200px;
    min-width: 700px;
    /* background-color: aqua; */
}

.main-text1 {
    font-size: 3.5em;
    margin-bottom: .5em;

}

.main-text2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  max-width: 45vw;
  min-width: 700px;
  /* background-color: aqua; */
}

.start-btn{
    position: fixed;
    margin-top: 2em;
    left: 43%;
    height: 8vh;
    width: 9em;
    z-index: 1;
    text-align: center;
    background-color: white;
    border-radius: 7px;
    font-size: 25px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.start-btn:hover {
  color: gray;
  cursor: pointer;
}

  .image0 { background-image: url('/Users/ashleyhoneybee/Desktop/app_academy/projects/fullstack/burnr2/frontend/assets/SpashImages/background0.png'); }
  .image1 { background-image: url('/Users/ashleyhoneybee/Desktop/app_academy/projects/fullstack/burnr2/frontend/assets/SpashImages/background1.png'); }
  .image2 { background-image: url('/Users/ashleyhoneybee/Desktop/app_academy/projects/fullstack/burnr2/frontend/assets/SpashImages/background2.png'); }
  .image3 { background-image: url('/Users/ashleyhoneybee/Desktop/app_academy/projects/fullstack/burnr2/frontend/assets/SpashImages/background3.png'); }
  .image4 { background-image: url('/Users/ashleyhoneybee/Desktop/app_academy/projects/fullstack/burnr2/frontend/assets/SpashImages/background4.png'); }
  .image5 { background-image: url('/Users/ashleyhoneybee/Desktop/app_academy/projects/fullstack/burnr2/frontend/assets/SpashImages/background5.png'); }
  .image6 { background-image: url('/Users/ashleyhoneybee/Desktop/app_academy/projects/fullstack/burnr2/frontend/assets/SpashImages/background6.png'); }
  .image7 { background-image: url('/Users/ashleyhoneybee/Desktop/app_academy/projects/fullstack/burnr2/frontend/assets/SpashImages/background7.png'); }
  .image8 { background-image: url('/Users/ashleyhoneybee/Desktop/app_academy/projects/fullstack/burnr2/frontend/assets/SpashImages/background8.png'); }
  .image9 { background-image: url('/Users/ashleyhoneybee/Desktop/app_academy/projects/fullstack/burnr2/frontend/assets/SpashImages/background9.png'); }
  .image10 { background-image: url('/Users/ashleyhoneybee/Desktop/app_academy/projects/fullstack/burnr2/frontend/assets/SpashImages/background10.png'); }
  .image11 { background-image: url('/Users/ashleyhoneybee/Desktop/app_academy/projects/fullstack/burnr2/frontend/assets/SpashImages/background11.png'); }
  .image12 { background-image: url('/Users/ashleyhoneybee/Desktop/app_academy/projects/fullstack/burnr2/frontend/assets/SpashImages/background12.png'); }
  .image13 { background-image: url('/Users/ashleyhoneybee/Desktop/app_academy/projects/fullstack/burnr2/frontend/assets/SpashImages/background13.png'); }
  .image14 { background-image: url('/Users/ashleyhoneybee/Desktop/app_academy/projects/fullstack/burnr2/frontend/assets/SpashImages/background14.png'); }
  .image15 { background-image: url('/Users/ashleyhoneybee/Desktop/app_academy/projects/fullstack/burnr2/frontend/assets/SpashImages/background15.png'); }

  