.comment-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 40em;
}

.edit-comment-textarea {
    resize: none;
    width: 46em;
    padding: 1em;
    border-color: rgb(207, 214, 217);
    overflow-wrap: break-word;
    /* background-color: aqua; */
}

.submit-button-edit-comment-div{
    /* background-color: purple; */
    display: flex;
    justify-content: end;
}

.cancel-button-edit-comment {
    background-color: gray;
    color: white;
    border-radius: .25em;
    padding-top: .25em;
    padding-bottom: .25em;
    font-size: 1em;
    width: 5em;
    margin-right: .5em;
}

.submit-button-edit-comment {
    color: white;
    background-color: rgb(18, 143, 220);
    border: none;
    border-radius: .25em;
    padding-top: .25em;
    padding-bottom: .25em;
    font-size: 1em;
    width: 5em;
}

.cancel-button-edit-comment:hover,
.submit-button-edit-comment:hover {
    box-shadow: 0px 0px 1px black;
    
}